/*
Error: Incompatible units: 'em' and ''.
        on line 37 of /Users/grayson/dev/tbot/neat-docs/theme/source/sass/bourbon/functions/_modular-scale.scss
        from line 6 of /Users/grayson/dev/tbot/neat-docs/neat/_neat-helpers.scss
        from line 7 of /Users/grayson/dev/tbot/neat-docs/neat/_neat.scss
        from line 4 of /var/folders/dd/whz1fdfn5mnb76_bt_5pp_5c0000gn/T/gulp-ruby-sass/main.scss

32: 
33: td {
34:   border-bottom: 1px solid $base-border-color;
35:   padding: ($base-line-height / 2) 0;
36: }
37: 
38: tr, td, th {
39:   vertical-align: middle;
40: }

Backtrace:
/Users/grayson/dev/tbot/neat-docs/theme/source/sass/bourbon/functions/_modular-scale.scss:37
/Users/grayson/dev/tbot/neat-docs/neat/_neat-helpers.scss:6
/Users/grayson/dev/tbot/neat-docs/neat/_neat.scss:7
/var/folders/dd/whz1fdfn5mnb76_bt_5pp_5c0000gn/T/gulp-ruby-sass/main.scss:4
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/value/number.rb:416:in `coercion_factor'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/value/number.rb:349:in `coerce'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:261:in `visit_for'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:299:in `map'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:248:in `each'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:247:in `catch'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:131:in `_perform'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/node.rb:50:in `perform'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:468:in `visit_variable'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/Users/grayson/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/Users/grayson/.rbenv/versions/2.1.5/bin/sass:23:in `load'
/Users/grayson/.rbenv/versions/2.1.5/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Incompatible units: 'em' and ''.\A         on line 37 of /Users/grayson/dev/tbot/neat-docs/theme/source/sass/bourbon/functions/_modular-scale.scss\A         from line 6 of /Users/grayson/dev/tbot/neat-docs/neat/_neat-helpers.scss\A         from line 7 of /Users/grayson/dev/tbot/neat-docs/neat/_neat.scss\A         from line 4 of /var/folders/dd/whz1fdfn5mnb76_bt_5pp_5c0000gn/T/gulp-ruby-sass/main.scss\A \A 32: \A 33: td {\A 34:   border-bottom: 1px solid $base-border-color;\A 35:   padding: ($base-line-height / 2) 0;\A 36: }\A 37: \A 38: tr, td, th {\A 39:   vertical-align: middle;\A 40: }"; }
